.jumbointroduction{
    padding-top:10em;
    padding-bottom:4em;
}

body{
    background-color: #e5e5e5;
}

.school{
    background-image: url(imagenes/andes2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.buttonMargin
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.titulo{
    color:black;
    padding-left: 1em;
    padding-bottom: 0.5em;
}
.parrafo{
    font-size: 20px;
    color: black;
    position:relative;
}

.jumbotron{
    background-color: #e5e5e5;
}
/*Code review por: Sergio Cárdenas*/
.smallimages
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.programmingSkills
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.contacto{
    margin-bottom: 4em;
}

.barraprogress
{
    padding-top: 2em;
}

.card {
    border: 3px solid rgb(0,0,0,.25);
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
