.main {
    margin-left: 12rem;
}

.certerVerticalHome {
    position: absolute;
    top: 50%;
    left: 53%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.deck2 {
    margin-top:2em;
    margin-bottom: 2em;
}

.iconsCenteredHome{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#home {
    display: block;
}

#academics {
    display: none;
}

#skills {
    display: none;
}

#projects {
    display: none;
}

#other {
    display: none;
}

#certificates {
  display: none;
}

#sideNav {
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:12rem;
    height:100vh;
    background-color: #111
}

#sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
}

.nav-item a:hover {
    color: #ffffff !important;
}

.nav-link {
    text-decoration: none !important;
    font-size: 23px;
    color: #818181 !important;
    display: block;
    transition: 0.3s;
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
}

#introparragraph {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
}

.icons {
    margin-right: 3.5em;
    text-decoration: none !important;
}

.titleEducation {
    margin-top: 1em;
    margin-bottom: 1em;
}

.titleMe {
    margin-bottom: 1em;
}

.skillsElement {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .skillsFirstElement {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .projectIcons {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;  
 }

 .justificacion {
    text-align: justify;
    text-justify: inter-word;
 }

 .spacingProjects {
    padding-top: 1em;
    padding-bottom: 1em;
 }

  .titleLanguage {
    font-weight: bold;
    font-size: large;
    margin-top: 0.5em;
  }

  .line {
    background-image: linear-gradient(#000, #000);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .containerImages {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .careerImages {
    max-width:100%;
    padding-left: 1em;
  }

  .skillTables {
    margin-bottom: 2em;
  }

  .interestsCards {
    margin-top: 2em;
  }

  .marginEndPageInterests {
    margin-bottom: 3em;
  }

  .imagesCertificates {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-left: 1em;
  }

  .certificateTableCell {
    width: 60%;
  }

  .marginCertificationCards {
    margin-bottom: 2em;
  }

  #expressTopMargin {
    margin-top: 3.5em;
  }

  #csharpTopMargin {
    margin-top: 1em;
  }

  #reactTopMargin {
    margin-top: 1em;
  }

  #mongoTopMargin {
    margin-top: 1em;
  }

  #roomTopMargin {
    margin-top: 1em;
  }

  #expressProject {
    margin-bottom: -4em;
  }
