html,
body {
  height: 100%;
}

/**
  Main
*/
.main {
  position: relative;
  top: 56px;
  height: calc(100% - 56px);
}

#academics {
  display: none;
}

#skills {
  display: none;
}

#projects {
  display: none;
}

#other {
  display: none;
}

#certificates {
  display: none;
}

/**
  Home
*/
.home {
  display: block;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-name {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.home-degree {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.home-icons-centered {
  display: flex;
  justify-content: space-between;
}

.home-intro-parragraph {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: justify;
}

.home-wrapper {
  align-items: center;
  height: 100%;
}

.home-left-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding: 32px 0;
}

@media screen and (max-width: 768px) {
  .home-icons-centered {
    padding-bottom: 32px;
  }

  .home-wrapper {
    height: fit-content;
  }
}


/**
  Career
*/
.title-education {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.container-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-images-link {
  max-width: 200px;
  margin: 15px;
}

.careerImages {
  max-width: 100%;
}

/**
  Certifications
*/
.title-certificates.title-certificates {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.certificates-images-link {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.images-certificates {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-left: 1em;
}

.certificate-table-cell {
  width: 60%;
}

/**
  Projects
*/
.title-projects {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.projects-content-modal {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-icons {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#expressProject {
  margin-bottom: -4em;
}

@media screen and (max-width: 992px) {
  .video-player {
    margin-bottom: 32px;
  }
}

/**
  Skills
*/
.title-skills {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.skills-element {
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills-first-element {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#expressTopMargin {
  margin-top: 3.5em;
}

#reactTopMargin {
  margin-top: 1em;
}

#mongoTopMargin {
  margin-top: 1em;
}

#roomTopMargin {
  margin-top: 1em;
}

/**
  More
*/
.more-volunteer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.more-languages {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.language-title {
  font-weight: bold;
  font-size: large;
  margin-top: 0.5em;
}